/* Reset básico */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../../assets/background_image.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

/* Estilo do menu */
.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    width: 90%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

.menu button {
    padding: 10px 60px;
    border: none;
    background: rgba(190, 241, 255, 0.8);
    color: #000;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.menu button:hover {
    background: rgba(92, 173, 209, 0.9);
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Estilização do <p> resultado */
#resultado {
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
    padding: 15px 20px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}



/* Estilo do conteúdo */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
    height: 80vh;
    position: relative;
}

/* Caixa do jogo */
.game-container {
    background: linear-gradient(145deg, #6cb8c9, #4a8abd);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    overflow-y: auto;
    max-height: 580px;
    border: 1px solid #FFF;
    scrollbar-width: initial; /* Deixa a barra mais fina */
    scrollbar-color: #6cb8c9 #4a7c88; /* (thumb, track) */
}


.game-container > * {
    margin-bottom: 20px;
}

/* .game-container {
    scrollbar-width: initial; /* Deixa a barra mais fina * /
    scrollbar-color: #6cb8c9 #4a7c88; /* (thumb, track) * /
} */


/* Tabela formatada */
table {
    width: 100%;
    max-width: 1200px;
    border-collapse: collapse;
    text-align: left;
}
table thead{
    background-color: #4a7c88;
}
table tbody{ 
    overflow: visible;

}

.coluna_animal{ 
    font-weight: bold;
    font-size: 0.9em;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
      border: 1px solid black;
}
.coluna_ordem{ 
    font-weight: bold;
    font-size: 0.9em;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
      border: 1px solid black;
}
.coluna_familia{ 
    font-weight: bold;
    font-size: 0.9em;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
      border: 1px solid black;
}
.coluna_genero{ 
    font-weight: bold;
    font-size: 0.9em;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
      border: 1px solid black;
}
.coluna_especie{ 
    font-weight: bold;
    font-size: 0.9em;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
    border: 1px solid black;
}
.coluna_fishbase{ 
    font-weight: bold;
    font-size: 0.9em;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
    border: 1px solid black;
}

.button-peixe{
    background: rgb(190, 241, 255);
    padding: 15px 15px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 30px;
    display: flex;
}


.logo-container {
    bottom: 100px;
    left: 50%;
}

.logo-container img {
    width: 300px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.logo-container img:hover {
    transform: scale(1.1);
}

.home-button {
    position: fixed;
    top: 45px;
    left: 50px;
    background: rgb(190, 241, 255);
    padding: 15px 15px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}


.home-button:hover {
    background: rgba(92, 173, 209, 0.9);
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Responsividade */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    .menu {
        width: 100%;
        flex-wrap: wrap;
    }

    .game-container {
        padding: 20px;
    }

    .titulo {
        font-size: 1.1em;
        padding: 15px;
    }

    .logo-container {
        bottom: 5px;
    }

    .logo-container img {
        width: 100px;
    }
}
.game-container > * {
    margin-bottom: 20px;
}
